@charset "utf-8";


/* STILARK for Aftenpostens tidslinje */

.aftenpostenDummy {
 width:500px;
 height:auto;
 margin:0 auto;
}

body {
margin:0;	
overflow-y:scroll;
font-size:14px;
line-height:1.4;
}
h1,h2,h3,h4,h5,h6,h7,h8 {
	font-family: 'publicoHeadlineWeb',Cambria,Times,'Times New Roman',serif;	
	font-weight:bold;
}
p {
	font-family: Arial, sans-serif;
}
.testHeader {


}
.wrapper {
 width:100%;
 margin:0 auto;	
position:relative;
 
}

/** Hendelse/Content/Artikkel **/
.hendelseWrapper {
width:100%;
height:auto;
position:relative;

}
.hendelse {
 border-bottom:1px solid #cdcdcd;	
 padding:10px 10px 30px 10px;
/*width:618px; 2px border*/
width:auto;
float:left;
overflow:hidden;

}
.hendelseTid {
width:30%;
float:left;
color:#666;
font-size:12px;
font-weight:normal;
}

.hendelseInnhold {
float:left;	
width:70%;
}
.hendelseInnhold img {
max-width:350px;	
clear:both;
}
.hendelseInnhold p { border-left:1px solid #cdcdcd; padding-left:10px; }
.timeline-bottom-pusher {


}



.timeline-headerWrapper {
	max-width:100%;
	position:relative;
	float:left;
}
.timeline-header {
  
    background:#f6f6f6;
    position:fixed;
	max-width:100%;
    z-index:99;
	width:inherit;
	border:1px solid #efefef;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
	
}
.timeline-header h1 { margin:0; padding:10px 0 0 10px;}
.timeline-header p { margin:0; padding:10px 10px 0 10px; width:75%; }

#timeline-navi {
	
	position:absolute;
	bottom:50px;
	right:10px;
	font-family:Arial, sans-serif;
}
/*#timeline-next, #timeline-prev {
	width:75px;
	height:25px;	
    background:#efefef;
	float:left;
	margin: 0 10px 0 0;
    cursor:pointer;
}*/



#indikatorWrapper {
    width:100%;
    height:50px;	
    position:relative;
    float:left;
}
.indikatorLine {
height:1px;
width:100%;
background:#999;	
top:25px;
position:absolute;
left:0;
}
.indikator {
    height:10px;
    width:10px;
    position:absolute;
    background:white;
    top:20px;
    margin-left:-5px;
    border:1px solid #999;
  /*  -webkit-transition: all 100ms;
            -moz-transition: all 100ms;
            -ms-transition: all 100ms;
            -o-transition: all 100ms;
            transition: all 100ms;	*/
    
    cursor:pointer;
	border-radius:10px;

}
.indikator:hover {
background-color:#999;	
}
.indikatorSelected {
background-color:#666;
border:1px solid #666;
}
.indikatorSelected:hover {
background-color:#666;	
}



.clearFix {
clear:both;	
}