/* HOVEDREGLER FOR OPPSETT */

input::-moz-focus-inner,
input[type="text"]::-moz-focus-inner,
input[type="date"]::-moz-focus-inner,
input[type="time"]::-moz-focus-inner {
     padding: 0 !important;
     border: 0 none !important;
 }

#wrapper{
	height: 600px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: gray;
}

#leftNav{
	height: 600px;
	width: 300px;
	background-color: yellow;
}

#nu-timeline-cms-mainWrapper{
	height: 900px;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
}

#nu-timeline-cms-headerWrapper{
	height: 80px;
	width: 960px;
	background-color: #fff;
	margin-left: 10px;
}

#nu-timeline-cms-main{
	height: 700px;
	width: 980px;
}

#nu-timeline-cms-vNav{
	height: 700px;
	width: 299px;
	background-color: #f8f8f8;
	border: 1px solid #e4e4e4;
	float: left;
	margin-left: 10px;
	overflow: scroll;

}

#nu-timeline-cms-hNav{
	height: 700px;
	width: 659px;
	background-color: #f8f8f8;
	border: 1px solid #e4e4e4;
	float: right;
	margin-right: 8px;
	position: relative;
}

/* INNHOLD HEADER, INDEX OG EDIT */

#nu-timeline-cms-menuText a{
	text-decoration: none;
	color: black;
}

#nu-timeline-cms-logo{
	height: 50px;
	width: auto;
	float: left;
	margin-top: 10px;
}

#nu-timeline-cms-home{
	background-image: url(img/homeButton.png);
	height: 50px;
	width: 50px;
	float: right;
	margin-right: 10px;
	opacity: 1;
}

#nu-timeline-cms-home:hover{
	cursor: pointer;
	opacity: 0.7;
}

#nu-timeline-cms-loggUt{
	height: 30px;
	width: 50px;
	color: black;
	margin-top: 30px;
	float: right;
	font-size: 8pt;
}

#nu-timeline-cms-loggUt a{
	color: black;
	text-decoration: none;
	opacity: 1;
}

#nu-timeline-cms-loggUt a:hover{
	opacity: 0.7;
}

#nu-timeline-cms-bilde{
	float: left;
}

#nu-timeline-cms-text{
	float: left;
	margin-top: -10px;
	margin-left: 10px;
	width: auto;
}

#nu-timeline-cms-search{
	height: 30px;
	width: 230px;
	position: relative;
	top: 20px;
	clear: both;
	display: block;
}

#nu-timeline-cms-searchButton{
	height: 19px;
	width: 40px;
	margin-top: 6px;
	background-color: black;
	border: 0px;
	color: white;
}

#nu-timeline-cms-searchButton:hover{
	background-color: #666;
	cursor: pointer;
}

#nu-timeline-cms-headerTableFirst{
	width: 1000px;
}

#nu-timeline-cms-headerTableSecond{
	width: 400px;
}

#nu-timeline-cms-headerTableThird{
	width: 100px;
}

#nu-timeline-cms-headerTableFourth{

}



/* INNHOLD MAIN, INDEX */

#nu-timeline-cms-result{
	height: auto;
	max-height: 600px;
	width: 960px;
	background-color: #fff;
	margin-left: 10px;
	margin-top: 50px;
	overflow: scroll;
}

/* INNHOLD MAIN, EDIT */

#nu-timeline-cms-tlInfoWrapper{
	height: auto;
	width: 960px;
	margin-left: 10px;
}

#nu-timeline-cms-tlInfo{
	height: 30px;
	width: 960px;
	background-color: #f8f8f8;
	border: 1px solid #e4e4e4;
}

#nu-timeline-cms-tlInfo p{
	padding: 5px;
	margin: 0;
}

#nu-timeline-cms-slide{
	height: auto;
	width: 960px;
	overflow: hidden;
	background-color: #f8f8f8;
	border: 1px solid #e4e4e4;
	float: left;
	display: none;
}

#nu-timeline-cms-hendelser{
	height: 700px;
	width: 980px;
	float: left;
}

#nu-timeline-cms-hendelserTop{
	height: 30px;
	width: 960px;
	background-color: #f8f8f8;
	border: 1px solid #e4e4e4;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}

#nu-timeline-cms-hendelserTop p{
	padding: 5px;
	margin: 0;
	float: left;
}


/* Start TLINFO FORM */


.nu-timeline-cms-tlInforFormCategoriesLabel{
	margin-top: 0px;
	margin-left: 30px;
	float: left;
}

#nu-timeline-cms-tlInfoFormCategoryInput{
	float: left;
	margin-top: 5px;
	margin-left: 30px;
	padding: 5px;
	border: 1px solid #e4e4e4;
}

#nu-timeline-cms-tlInfoFormText{
	float: left;
	margin-top: 5px;
	margin-left: 75px;
	margin-bottom: 20px;
	padding: 5px;
	border: 1px solid #e4e4e4;
}

.nu-timeline-cms-tlInfoFormLabels{
	margin-left: 75px;
	margin-top: 0px;
	float: left;
}

.nu-timeline-cms-tlInfoFormTitle{
	margin-left: 75px;
	float: left;
	margin-top: 5px;
	padding: 5px;
	border: 1px solid #e4e4e4;
	width: 485px;
}

#nu-timeline-cms-addCategoryBtn{
	margin-right: 100px;
	padding: 0;
}

#nu-timeline-cms-showCategories{
	width: 200px;
	height: 150px;
	margin-left: 30px;
	padding: 0;
	
}

.nu-timeline-cms-colorPicker{
	width: 10px;
}

.nu-timeline-cms-tlFormDeleteCategoryBtn{
	background-image: url(img/trash.png);
	background-repeat: no-repeat;
	margin-top: 3px;
	height: 20px;
	width: 20px;
	float: right;
	opacity: 1.0;
	cursor: pointer;
}

.nu-timeline-cms-tlFormDeleteCategoryBtn:hover{
	opacity: 0.7;
}

#nu-timeline-cms-tlInfoListCategories{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: auto;
}

#nu-timeline-cms-tlInfoListCategories li{
	clear: both;
}

#nu-timeline-cms-tlInfoListCategories li input{
	border: 1px solid #e4e4e4;
	padding: 3px;	
	width: 100px;
}

.nu-timeline-cms-labelCategories{
	margin-left: 10px;
}


/* End TLINFO FORM */

/* Start INNHOLD  VNAV, EDIT */
/* End INNHOLD  VNAV, EDIT */


/* Start INNHOLD  HNAV, EDIT */
/* End INNHOLD  HNAV, EDIT */

#newTimeline{
	height: 30px;
	width: 125px;
	background-color: black;
	color: white;
	margin-left: 10px;
}

#newTimeline p{
	margin: 0;
	padding-top: 7px;
	padding-left: 4px;
	float: left;
	font-size: small;
}

#newTimeline img{
	float: left;
}

table, th, tr, td{
	border: 0px solid black;
	border-collapse: collapse;
	padding: 0;
}

th{
	text-align: left;
	background-color: white;
	cursor: default;
}

th:hover{
	text-align: left;
	background-color: white;
}

#nu-timeline-cms-indexTable tr:hover, nu-timeline-cms-indexTable tr:nth-child(2n):hover{
	background-color: gray !important;
	cursor: pointer;
}
#nu-timeline-cms-indexTable tr:nth-child(2n+1){
	background-color: #fff;
}

#nu-timeline-cms-indexTable tr:nth-child(2n){
	background-color: #e4e4e4;
}

#nu-timeline-cms-indexTable td{
	padding: 5px;
	margin-top: 4px;
}

#nu-timeline-cms-indexTable td.first{
	width: 100px;
}

#nu-timeline-cms-indexTable td.second{
	width: 600px;
}

#nu-timeline-cms-indexTable td.third{
	width: 200px;
}

#nu-timeline-cms-indexTable td.last{
	width: 20px;
	background-image: url(img/editButton.png);
	background-repeat: no-repeat;
}

#nu-timeline-cms-indexTable td.last:hover{
	background-image: url(img/editButtonHover.png);
}

h2{
	text-decoration: underline;
}



/*
#tlInfo{
	height: 30px;
	width: 960px;
	background-color: #f8f8f8;
	border: 1px solid #e4e4e4;
	margin-left: 10px;
}

#tlInfo p{
	padding: 5px;
	margin: 0;
}
*/



.nu-timeline-cms-article{
	padding: 5px;
}

.nu-timeline-cms-article:nth-child(2n){
	background-color: #e4e4e4;
}

.nu-timeline-cms-article:nth-child(2n+1){
	background-color: #f8f8f8;
}

.nu-timeline-cms-article:hover{
	background-color: gray;
	color: white;
}

.nu-timeline-cms-article:active{
	background-color: black;
	color: white;
}

.nu-timeline-cms-articleTitle{
	font-weight: bold;
	padding-top: 0px;
	
}

.nu-timeline-cms-articleDate{
	font-style: italic;
}

.nu-timeline-cms-articleDate strong{
	font-weight: normal;
}

.nu-timeline-cms-articleContent, .nu-timeline-cms-articleTitle, .nu-timeline-cms-articleDate{
	padding: 0px;
}

.nu-timeline-cms-articleContent{
	padding-bottom: 0px;
}

.nu-timeline-cms-articleContent strong{
	font-weight: normal;
}



/* FORM I EDIT!! */

#nu-timeline-cms-editFormDateTable{
	width: 700px;
}

#nu-timeline-cms-editForm{
	margin: 0;
	padding: 0;
}

#nu-timeline-cms-editForm .nu-timeline-cms-editFormLeftLabel{
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}

.nu-timeline-cms-fields{
	float: left;
	margin-left: 0px;
	width: 80px;
	padding: 5px;
	border: 1px solid #e4e4e4;

}

#nu-timeline-cms-editFormContentTitle{
	padding: 5px;
	border: 1px solid #e4e4e4;
	width: 605px;
	margin-left: 20px;
}

#nu-timeline-cms-editFormChooseCategory{
	padding: 5px;
	border: 1px solid #e4e4e4;
	width: 140px;
	margin-left: 20px;
	margin-right: 0px;
}

#nu-timeline-cms-editFormImportantArticle{
	padding: 5px;
	border: 1px solid #e4e4e4;
	width: 137px;
	margin-left: 140px;
}

#nu-timeline-cms-editFormContentDate{
	margin-right: 138px;
	margin-left: 20px;
}

#nu-timeline-cms-editFormContentTime{
	padding: 5px;
	border: 1px solid #e4e4e4;
	width: 60px;
	margin-left: 0px;
	margin-right: 158px;
}

#nu-timeline-cms-editFormCustomTimeDate{
	padding: 5px;
	border: 1px solid #e4e4e4;
	width: 145px;
	
}

#nu-timeline-cms-CKeditor{
	height: 400px;
	width: 500px;
	float: left;
	margin-top: 0px;
	margin-left: 20px;
	margin-bottom: 20px;
}

#nu-timeline-cms-editFormContentPic{
	width: 300px;
}

.nu-timeline-cms-editFormStatusBtn{
	
}
/*
#nu-timeline-cms-editForm textarea{
	float: left;
	margin-top: -20px;
	margin-left: 110px;
	padding: 5px;
	border: 1px solid #e4e4e4;

}
*/

#nu-timeline-cms-formBtns{
	float: left;
	margin-top: 10px;
		
}

#nu-timeline-cms-saveButton{
	float: left;
	margin-right: 0px;
	margin-left: 110px;
	margin-top: 0px;
	padding: 3px;
}

#nu-timeline-cms-formDropdown{
	float: left;
	padding: 3px;
	margin-top: 0px;
}

#nu-timeline-cms-editForm select{
	float: left;
	margin-right: 200px;
}

#picInput{
	height: 100px;
	width: 500px;
	float: left;
/* 	background-color: red; */
}

#nu-timeline-cms-fade{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
	background-color: rgba(0,0,0,0.7);
}

/*
#nu-timeline-cms-newTimelineBtn{
	height: 25px;
	width: 25px;
	background-image: url(img/plus.png);
	text-decoration: none;
	margin-left: 10px;
	float: left;
	opacity: 1;
}

#nu-timeline-cms-newTimelineBtn:hover{
	cursor: pointer;
	opacity: 0.7;
}
*/

.nu-timeline-cms-plusBtn{
	height: 25px;
	width: 25px;
	background-image: url(img/plus.png);
	text-decoration: none;
	margin-left: 10px;
	margin-top: 2px;
	float: left;
	opacity: 1;
}

.nu-timeline-cms-plusBtn:hover{
	cursor: pointer;
	opacity: 0.7;
}

.nu-timeline-cms-minusBtn{
	height: 25px;
	width: 25px;
	background-image: url(img/minus.png);
	text-decoration: none;
	margin-left: 10px;
	margin-top: 2px;
	float: left;
	opacity: 1;
}

.nu-timeline-cms-minusBtn:hover{
	cursor: pointer;
	opacity: 0.7;
}

.nu-timeline-cms-test{
	width: 100%;
	height: 100%;
	display: block;
	
}

#nu-timeline-cms-popWindow{
	height: 150px; 
	width: 250px; 
	background-color: #f8f8f8; 
	display: none;
	border: 1px solid #e4e4e4;
}

#picInput label{
	font-weight: bold;
	text-align: left;
	margin-left: 20px;
	margin-top: 10px;
	float: left;
}

textarea{
	resize: none;
}

#liveStatus {
	float: right;
	margin-left: 60px;
	margin-top: 20px;
	height: 40px;
	width: 40px;
}

.nu-timeline-cms-contentLiveStatus{
	float: right;
}

.nu-timeline-cms-textInactive{
	color: red;
	font-style: italic;
	font-size: small;
	margin-right: 5px;
}

.nu-timeline-cms-textActive{
	color: green;
	font-style: italic;
	font-size: small;
	margin-right: 5px;
}

/* HENTET FRA BOOTSTRAP */ /* TORSTEIN SIN KNAPP */


.nu-timeline-cms-status-buttons-wrapper {
	margin-left: 20px;

}
.nu-timeline-cms-status-buttons-wrapper ul {
	padding-left:0;
	margin:0;
	
}
.nu-timeline-cms-status-buttons-wrapper ul * {
	list-style: none;
	font-family:arial;
}
.nu-timeline-cms-status-buttons-wrapper ul li a {

}

.nu-timeline-cms-status-buttons-wrapper ul li ul {
	
	display:none;
	position: absolute;
}
.nu-timeline-cms-status-buttons-wrapper .btn {
	max-width:100%;
	width:150px;
	margin:0px 0 0 0;
	position:relative;


}
.nu-timeline-cms-status-buttons-wrapper #ddStatus{
	width:125px;
	font-weight: normal;


}
.nu-timeline-cms-status-buttons-wrapper .arrow {
	display:inline-block;
	float:right;
	width:19px;
	height:20px;
	margin-right:-5px;

	border-left:1px solid #cdcdcd;
	background-image:url(arrows.png);
	background-repeat:no-repeat;
	background-position:3px 3px;	
}
.nu-timeline-cms-status-buttons-wrapper .droppedDown  {
	background-position:-12px 3px;
}

/* TIMELINE INFO SLIDER */

/* Henriksen */
#nu-timeline-cms-tlOpenClose .tlOpenCloseArrow{
	float: right;
	width: 25px;
	height: 25px;
	margin-top: -26px;
	margin-right: 2px;
	
	background-image: url(img/timelineOpenClose.png);
	background-repeat: no-repeat;
	background-position: -25px 0px;
	opacity: 1;
}

#nu-timeline-cms-tlOpenClose .tlOpenCloseArrow:hover{
	cursor: pointer;
	opacity: 0.7;
}

#nu-timeline-cms-tlOpenClose .tlDroppedDown{
	background-position: 0px 0px;
}
/* Henriksen slutt */

#nu-timeline-cms-tlInfoForm{
	padding: 10px;
	float: left;
	width: 600px;
}

.nu-timeline-cms-tlTextArea label{
	vertical-align: top;
}

#nu-timeline-cms-deleteForm{
	height: 100px;
	width: 250px;
	padding: 5px;
}

#nu-timeline-cms-deleteForm p{
	float: left;
	text-align: left;
	margin-left: 20px;
}

#nu-timeline-cms-deleteForm input{
	float: left;
	padding: 5px;
	margin-top: 10px;
	margin-left: 40px;
}


/* REGLER FOR Å UNNGÅ BOLD PÅ EDIT.PHP 
.nu-timeline-cms-status-buttons-wrapper #ddStatus
.nu-timeline-cms-articleDate strong
.nu-timeline-cms-articleContent strong
label
*/

label{
	font-weight: normal;
}


















