@charset "utf-8";

/* STILARK for Aftenpostens tidslinje */
body {
margin:0;	
}
.wrapper {
 width:640px;
 margin:0 auto;	
 
}

.content {
 border:1px solid #cdcdcd;	
 padding:10px;
float:left;
}
.headerWrapper {
float:left;	
height:200px;
}
.header {
	width:640px;
	background:#fff;
	position:fixed;

}
#indikatorWrapper {
width:640px;
background:grey;
height:50px;	
position:relative;
float:left;
}
.indikator {
height:10px;
width:10px;
position:absolute;
background:white;
top:20px;

-webkit-transition: all 200ms;
		-moz-transition: all 200ms;
        -ms-transition: all 200ms;
        -o-transition: all 200ms;
		transition: all 200ms;	

cursor:pointer;

}
.indikator:hover {
background-color:#333;	
}

.clearFix {
clear:both;	
}